*{
  margin: 0;
 
}



.App{
  background-image: url("https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  

   /* Assuming you want the button centered vertically as well */
  
}

.center-button{
  height: 9vh;
  width: 15vh;
  border-radius: 15px;
  background-color: #064766;
  color: aliceblue;
  font-weight:largest;
  font-size: 0.8em;
  margin-top: 10%;
  
}
